* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    transition: all 0.5s;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.section-pt {
    padding-top: 115px;
}

.title h2 {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
    color: #333;
}

.title h2::before {
    left: -20px;
    bottom: -8px;
}

.title h2::after {
    left: 20px;
    bottom: -15px;
}

.title h2::before,
.title h2::after {
    content: "";
    background: #b7b7b7;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}

.title span {
    color: #ff6e65;
}

.title p {
    padding-top: 15px;
    text-align: center;

}

/* SUB NAV */
.sub-nav {
    display: flex;
    color: #fff;
    background-color: #0d369f;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px;
    font-size: 15px;
    font-weight: 500;
}

.sub-nav a {
    text-decoration: none;
    color: #fff;
}

.sub-nav .contact a:nth-child(2) {
    margin: 0 25px;
}

.sub-nav .icon a {
    margin-left: 20px;
}

/* Nav bar */

header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 100;
    background-color: #fff;

}

.navbar {}

.navbar-brand span {
    font-size: 26px;
    color: #0D369F;
    font-weight: 550;
}

#portNavbar .nav-item a {
    font-weight: 600;
    color: #333;
}

#portNavbar .nav-link:hover {
    color: #ff7971;
    transition: all 0.3s;
}

#portNavbar .nav-item.active .nav-link {
    color: #ff6e65;
}

.navbar form {
    width: 230px;
    padding-left: 12px;
}

.navbar-icon {
    display: flex;
    flex-direction: row-reverse;
}

.d-flex {
    position: relative;
    align-items: center;
    /* padding-right: 15px; */
    /* border: none; */
}


#portNavbar .btn-search i {
    position: absolute;
    color: #0D369F;
    right: 40px;
    top: 0;
    padding: 9px 12px 8px 2px;
}

.btn-search,
.btn-mode-icon,
.btn-mode {
    border: none;
    margin-left: 10px;
    background-color: #fff;
    color: #0D369F;
}

.btn-mode-icon {
    margin-right: 15px;
    display: none;
}

.night-mode {
    font-size: 20px;
}

#portNavbar .navbar-nav .night-mode {
    padding-left: 12px;
    font-size: 24px;
    line-height: 38px;
}

/* Carousel */
.portCarousel .carousel-item img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 100vh; */
    object-fit: cover;
    filter: brightness(0.5);

}

.portCarousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: -15px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    margin-right: 2%;
    list-style: none;
    align-content: stretch;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}

.carousel-inner .carousel-caption {
    text-align: left;
    max-width: 600px;
    font-size: 75px;
    font-weight: bold;
    line-height: 80px;
    padding-bottom: 30px;
    width: 50%;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 50vh;
}

.carousel-item button {
    font-weight: 600;
    font-size: 16px;
}

.carousel-item button:hover {
    background-color: #ff6e65;
    color: #fff;
    transition: 0.3s ease-out;
}

.portCarousel .active {
    background-color: #e62b4a;
}

/* services */
.services {
    color: #fff;
    position: relative;
    bottom: 60px;
}

.card {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 30px;
    border-radius: 8px;
}

.services .card:nth-child(1) {
    background-color: #ff4f81;
}

.services .card i {
    font-size: 45px;
}

.services .card-title {
    margin-top: 25px;
    display: block;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.8s;
}

.services .card-title:hover {
    color: #333;
}

.card-body {
    padding: 0;
}

/* Studious */
.studious__card {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.studious__item i {
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(13 54 159 / 9%);
    ;
    text-align: center;
    color: #0d369f;
    font-weight: 600;
}

.studious__item h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    padding: 10px 0;
    color: #333;
}

/* Course */
.course__card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.item {
    border: none;
    width: 33.33333%;
    padding: 15px 15px;
}

.course .item:hover {
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    transition: all 0.3s;
}

.card-img {
    position: relative;
}

.course .card-img img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.course .item .price {
    position: absolute;
    right: 10%;
    bottom: -7%;
    border-radius: 50%;
    background-color: #ff6e65;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.course .item .tag {
    position: absolute;
    top: 8%;
    left: 8%;
    display: flex;
    align-items: center;
}

.course .item .tag a {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
}

.tag-color-1 {
    background-color: #ffa100;
    margin-right: 10px;
}

.tag-color-2 {
    background-color: #1dc295;
}

.signal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* d-flex align-items-center justify-content-between */
}

.course .signal span {
    font-size: 16px;
    font-weight: 500;
}

.course .signal span i {
    color: #ff6e65;
}

.vote {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .vote {
    border-top: 1px solid #eeeeee;
}

.course .vote .star-i {
    color: #ffc949;
    font-size: 14px;
}

.course .vote a {
    color: #ff6e65;
    font-size: 14px;
    font-weight: 500;
}

.course .vote a:hover {
    color: #0d369f;
    transition: all 0.5s;
}

.course .card-info .card-heading {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

.course .card-info .card-heading:hover {
    color: #ff6e65;
    transition: all 0.3s;
}

.btn-course {
    margin: 0 auto;
}

.pink-btn {
    margin: 30px 0 100px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 28px;
    background-color: #ff6e65;
    border-radius: 6px;
    border: none;
    color: #fff;
    transition: all 0.5s;
}

.pink-btn:hover {
    background-color: #0d369f;
}

.vote a {
    text-decoration: none;
}

/* benefit */
.benefit {
    background: url(../img/bg3.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    padding-bottom: 50px;
}

.benefit__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .benefit__content{
    
} */
.benefit__item {
    display: flex;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    margin-right: -15px;
    margin-left: -15px;
}

.benefit__item i {
    color: #0d369f;
    font-size: 28px;
    background: rgb(13 54 159 / 9%);
    width: 65px;
    height: 66px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
    margin-right: 18px;
}

.benefit__item .benefit__info h3 {
    font-size: 20px;
    line-height: 30px;
    color: #333;
    font-weight: 600;
    margin-bottom: 6px;
}

.benefit__item .benefit__info p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}

/* NUMBER */
.number__content {
    margin-top: 50px;
    text-align: center;
}

.number__item .counter {
    font-size: 46px;
    font-weight: 600;
}

.number__item {
    border-right: 1px solid #eee;
}

.number__item p {
    color: #333;
}

/* feedback */
.feedback__content {
    margin-top: 50px;
}

.feedback__sub {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 30px;
}

.sub-test q::before {
    font-size: 50px;
    color: #ff6e65;
    line-height: .8;
    padding-top: 8px;
    display: inline-block;
}

.feedback__info {
    display: flex;
    margin-top: 25px;
}

.feedback__avt img {
    border-radius: 50%;
    margin-right: 20px;
}

.feedback__user p {
    font-weight: 600;
    line-height: 16px;
    font-size: 20px;
    color: #333;
}

.feedback__user span {
    font-size: 13px;
}

/* instructors */
.instructors__content{
    margin-top: 70px;
}
.instructors__bg{
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}
.instructors__img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.instructors__img img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.instructors__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    transform: translate(0, 78px);
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    padding: 20px;
}
.instructors__overlay i{
    color: #0d369f;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.instructors__img:hover .instructors__overlay {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.3s;
}
.instructors__text{
    margin-top: 10px;
}
.instructors__text h2{
    font-weight: 700px;
    color: #333;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
}

.instructors__text h2:hover{
    color: #ff6e65;
}
.instructors__text p{
    font-size: 12px;
}

/* contact */
/* .contact__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
































/* RESPONSIVE */
@media screen and (max-width:991.98px) {

    /* NAV */
    .sub-nav {
        display: none;
    }

    header.nav-fixed {
        height: auto;
        padding: 0;
        text-align: center;
    }

    .d-flex {
        margin: 0 auto;
    }

    .navbar-toggler {
        background-color: #0d369f;
    }

    /* #portNavbar .span{
        color: #fff;
    } */
    .dropdown-menu {
        text-align: center;
        border: none;
    }

    .btn-mode {
        display: none;
    }

    .btn-mode-icon {
        display: block;
    }

    .navbar form {
        width: 200px;
    }

    #portNavbar .btn-search i {
        right: 16px;
        top: 2px;
    }

    .carousel-indicators {
        bottom: 60px;
    }

    .carousel-inner .carousel-caption {
        font-size: 50px;
        line-height: 60px;
        padding: 110px 40px;
    }

    .card-item {
        margin-bottom: 20px;
    }


    /* contact*/

    /* .contact__card{
        flex-direction: column;
        align-content: center;
    } */




}



@media (max-width: 768px) {

    /* Carousel */
    .carousel-inner .carousel-caption {
        font-size: 45px;
        line-height: 55px;
        margin: 20px 20px;
    }

    .carousel-item button {
        font-size: 12px;
    }

    .portCarousel .carousel-item img {
        height: 50vh;
    }

    .card-item {
        margin-bottom: 20px;
    }

    /* Studious*/


}

@media (max-width: 576px) {
    .carousel-inner .carousel-caption {
        font-size: 30px;
        line-height: 45px;
        margin: -40px 80px;
        width: 100%;
    }

}